<md-dialog aria-label="Add New Item">
    <md-dialog-content>
      <md-input-container md-no-float>
        <input type="text" placeholder="Movie Title" ng-model="formData.title" />
      </md-input-container>
    <md-input-container md-no-float>
        <input type="text" placeholder="UPC" ng-model="formData.upc" />
    </md-input-container>
    <md-input-container md-no-float>
        <input type="text" placeholder="Max Price" ng-model="formData.price" />
    </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="answer(formData)">
       Cancel
      </md-button>
      <md-button ng-click="answer(formData)">
        Submit
      </md-button>
    </md-dialog-actions>
</md-dialog>